//META{"name":"Discord+ Sunucular Ustte","description":"Discord sunucu iconlarini ust tarafa tasir.","author":"UnDead To Infinity","version":"1"}*//

/*Sunucu Iconlarini Yukari Tasima*/	
@import url('https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css');
/*Sunucu Iconlarini Yukari Tasima*/